<div class="col-sm-2">
    <ul class="sidebar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/items">All items</a></li>
        <li><a href="/genres">All genres</a></li>
        <li><hr /></li>
        <li><a href="/items/create">Create item</a></li>
        <li><a href="/genres/create">Create genre</a></li>
    </ul>
</div>