<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('../partials/sidebar_nav'); %>
        <div class="col-sm-8 p-2">
          <h1>Odin Inventory App</h1>
          <p>Welcome to <em>Odin Inventory App</em>, an inventory app dedicated to video games that a fictional media store may use.</p>
          <h1>Dynamic content</h1>
          <p>The inventory has the following record counts:</p>
          <ul>
            <li><strong>Video games:</strong> <%= item_count %></li>
            <li><strong>Genres:</strong> <%= genre_count %></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>