<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('../partials/sidebar_nav'); %>
        <div class="col-sm-10 p-3">
            <h1>Create new item?</h1>
            <form class="p-2 pe-5" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label class="form-label" for="name">Name of game (note: You cannot change this later):</label>
                <input class="form-control" type="text" placeholder="Game name" name="name" required>
              </div>
              <div class="form-group">
                <label class="form-label" for="description">Description:</label>
                <input class="form-control" type="text" placeholder="Game description" name="description" required>
              </div>
              <div class="form-group">
                <label class="form-label" for="developer">Developer:</label>
                <input class="form-control" type="text" placeholder="Developer" name="developer" required>
              </div>
              <div class="form-group">
                <label class="form-label" for="genre">Genre:</label>
                <select class="form-select" name="genre">
                  <% genres.forEach(genre => { %>
                    <option value="<%- genre._id %>"><%- genre.name %></option>
                  <% }) %>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label" for="condition">Condition:</label>
                <select class="form-select" id="condition" name="condition">
                  <option value="">--Please select an option--</option>
                  <option value="New">New</option>
                  <option value="Used">Used</option>
                  <option value="Digital">Digital</option>
                </select>
                <label class="form-label" for="stock">Stock:</label>
                <input class="form-control" id="stock" type="number" min="0" placeholder="Number in stock" name="stock" required>
              </div>
              <div class="form-group">
                <label class="form-label" for="platform">Platform:</label>
                <input class="form-control" type="text" placeholder="Platform" name="platform" required>
              </div>
              <div class="form-group">
                <label class="form-label" for="released">Release year (in XXXX format):</label>
                <input class="form-control" type="number" placeholder="Release year" min="1900" name="released" required>
              </div>
              <div class="form-group">
                <label class="form-label" for="image">Upload cover image: <small>(1mb max, jpg/png format only, may skip if entry already exists under same name)</small></label>
                <input class="form-control" type="file" name="image" accept=".jpg, .jpeg, .png">
              </div>
              <button class="btn btn-primary mt-3" type="submit">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </body>
  <script>
    const condition = document.getElementById('condition');
    const stock = document.getElementById('stock');

    condition.addEventListener('change', () => {
      if (condition.value === "Digital") {
        stock.setAttribute('readonly', '');
        stock.setAttribute('type', 'text');
        stock.value = "Digital store key";
      } else {
        stock.removeAttribute('readonly');
        stock.setAttribute('type', 'number');
        stock.value = '';
      }
    });
  </script>
</html>